<%-include('./partials/header.ejs')%>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Hasta luego <span class="text-logout"><%=nombre%></span></h1>
            </div>
        </div>
    </div>
    
    <script src="/socket.io/socket.io.js"></script> 
    <script>   // redireccionar a pagina de login luego de mostrar mensaje de Hasta Luego
    const socket = io();
    socket.on("resultData", async (data,PORT) => {
        setTimeout(()=>{
            try {
                await fetch(`https://proyectoback2022.herokuapp.com/:${PORT}/logout`,{
                    method:'POST'
                })
            } catch (error) {
                console.log('Error al redireccionar',error)
            }
        },2000);
    })
    </script>
</body>
</html>