<div class="container-fluid container-bienvenido">
    <div class="row section-bienvenido">
        <div class="col-m-12 d-flex justify-content-between">
            <h1>Bienvenido <span class="ms-1 name-bienvenido"><%=nombre%></span></h1> 
            <span><span class="email-bienvenido"><%=email%></span><button class="btn btn-danger mt-2 btn-salir"id="btnLogout">Salir</button></span>
        </div>
    </div>
</div>